###
# where to run the pipeline and analyses
projectfolder: {TESTDIR}/
sampleconfig_location: {TESTDIR}/sample.config.yaml
###
# Reference genome
# hand in the complete path to the reference genome
# extension of the file name is critical. Please use .fa, .fasta, .fna or .fn
# make sure the fasta files use UNIX line endings. Apply dos2unix if necessary
# storage location of reference file needs to be writable by user
reference: {TESTDIR}/NC_045512.2.fasta
###
# The pipeline can try to deconvolute a mixture of reads by comparing to a Kraken2 database.
# Please, indicate where the folder of the database is located
# leave empty and no classification will be attempted
kraken: {TESTDIR}/GRCh28.p13_GBcovid19-2020-05-22/
krakenTaxID: 2697049
###
# if detected variants should be annotated for their protein coding impact,
# please make sure that the reference file is of one of the supported genomes (check README)
# enter 'true', if annotation should be run
annotation: false

###
# Amplification
# if cleanplex or any other amplification strategy was used
# enter 'true' if it was used or any other value if not
amplification: true
# amplification primer that might be found, if amplification, e.g. cleanplex was used.
# amplification primers can be found in the 5' end of fwd and rev reads and need to start with X
# amplification primer can as well be found in the 3' end of the reads and need to contain a trailing X
primer: {TESTDIR}/test.tsv

###
# Illumina adapter
# sequencing adapters that might be found at the 3' end of the reads
adapter_list: {TESTDIR}/adapter.fasta
runID: 200917_IQ2_Run20-217

###
# Variant filter parameters

# variants below 'low_af' allele frequency will be masked as 'N'
# variants above 'good_af' allele frequency will be treated as 100% alternative allele frequency
# variants between 'low_af' and 'good_af' will be entered as IUPAC ambiguous
low_af: 0.1
good_af: 0.9

# variants below this QUALity will be masked as 'N'
# 'low_qual' will be combined with 'low_af' and 'good_af'
low_qual: 1000

# variants below 'min_depth' (DP) will be masked as 'N'
# 'min_depth' will be combined with 'low_af' and 'good_af'
min_depth: 20

###
# tool section
# tools used and expected to be in $PATH
# - awk
# - cut
# - grep
# - gzip
# - sed
