################################################################################
# GENERAL CONFIGURATION                                                        #
################################################################################

# Please provide the absolute path of the directory which should be used to 
# store all data.

output: {TESTDIR}/

# Please provide the absolute path of the YAML-formatted file containing listing
# all sample information.

samples: {TESTDIR}/sample.config.yaml


################################################################################
# REFERENCE GENOME                                                             #
################################################################################

# Please provide the absolute path of the FASTA file containing the reference 
# genome sequence.

reference: {TESTDIR}/NC_045512.2.fasta


################################################################################
# TAXONOMIC READ FILTER                                                        #
################################################################################

# Please provide the absolute path to the kraken2 database folder to exclude
# all reads not classified as SARS-COV-2 (NCBI taxonomy ID  2697049) from read 
# mapping. A pre-processed kraken2 database can be downloaded from: 
# https://zenodo.org/record/3854856 (please unpack before use).
# Leave this value empty to skip taxonomic read filtering.

krakenDb: {TESTDIR}/GRCh28.p13_GBcovid19-2020-05-22
KRAKEN_TAX_ID: 2697049


################################################################################
# AMPLICON PRIMER CLIPPING                                                     #
################################################################################

# Please provide the absolute path to the primer file. The primer file is a 
# TAB-delimited text file containing the following fields:
#   1. forward primer sequence (5' -> 3') [mandatory]
#   2. reverse primer sequence (reverse-complement 5' -> 3') [mandatory]
#   3. insert length between the primer pair [mandatory]
#   4. auxiliary information [optional]
# Leave this value empty to skip primer clipping.

primer: {TESTDIR}/test.tsv

# Please define the maximum number of mismatches allowed to occur in amplicon 
# primer sequences

max_primer_mismatches: 0


################################################################################
# ADAPTER CLIPPING                                                             #
################################################################################

# Please define the complete path of a FASTA file containing the adapter
# sequences to clip. Leave this value empty to skip adapter clipping.

adapter: {TESTDIR}/adapter.fasta


################################################################################
# VARIANT CALLING                                                              #
################################################################################

# Please define the minimum number of reads at a position to be considered for 
# variant calling

var_call_cov: 20

# Please define the minimum number of supporting reads which are required to 
# call a variant.

var_call_count: 10

# Please define the minimum percentage of supporting reads at the respective 
# position required to call a variant. In turn, variants supported by 
# (1 - var_call_frac)*100% reads will be explicitely called.

var_call_frac: 0.1


################################################################################
# VARIANT HARD FILTERING                                                       #
################################################################################

# Please define the minimal mean mapping quality of observed alternate alleles
# (MQM). The mapping quality (MQ) measures how good reads align to the 
# respective reference genome region. Good mapping qualities are around MQ 60. 
# GATK recommends hard filtering of variants with MQ less than 40. 

var_filter_mqm: 40


# Please define the strand balance probability for the alternate allele (SAP). 
# The SAP is the Phred-scaled probability that there is strand bias at the respective site. A value 
# close to 0 indicates little or no strand bias. 

var_filter_sap: 60

# Please define the minimal variant call quality. 
# Freebayes produces a general judgement of the variant call.

var_filter_qual: 10


################################################################################
# CONSENSUS GENERATION                                                         #
################################################################################

# Please define the minimum read number that is need that the respective position 
# is NOT hard masked in the consensus sequence

cns_min_cov: 20

# Please define a  minimum fraction of reads supporting a variant which leads to 
# an explicit call of this variant (genotype adjustment). The value has to be 
# greater than 0.5 but not greater than 1. To turn genotype adjustment this off, 
# leave the value empty.

cns_gt_adjust: 0.9


################################################################################
# REPORT                                                                       #
################################################################################

# Please define the absolute path of the GFF3 file containing the reference 
# genome annotation. This information is used to infer the effect of detected
# SNPs and InDels on coding sequences. Leave this value empty to skip variant
# inspection.

annotation: 

# Please define a comma-seprated list of run ids to include in the report.  
# Leave this value empty to not include any run id.

run_id: 